// ----------------- VARIABLES ----------------- //

$body-bg: #252525;
$hero-clr: #ffc600;
$bigHand-bg-clr: #bada55;
$smallHand-bg-clr: red;

$start-position: -90deg;

$width: 80vmin;
$height: 80vmin;



